<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>HTML Telegram Bot Manager</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- CSS  -->

</head>
<body ng-app="myApp" >
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Telegram Web Management</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner" ng-controller="myController">
    <div class="container">
      <br><br>
      <div class="row center">
        <h5 class="header col s12 light">Insert Your Telegram Bot Token</h5>
      </div>

	  <div class="row">
	    <form class="col s12">
	      <div class="row">
	        <div class="input-field col s12" >
	          <textarea id="textarea1" class="materialize-textarea" ng-model="token"></textarea>
	          <label for="textarea1">Token</label>
	        </div>
	      </div>
	    </form>
	  </div>

      <div class="row">
        <div ng-click="start()" id="download-button" class="btn-large waves-effect waves-light orange left">Load token</div>
        <div ng-click="messages()" id="download-button" class="btn-large waves-effect waves-light orange right">Get messages</div>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container" >
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Title 1</h5>

            <p class="light">Text 1</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Title 2</h5>

            <p class="light">Text 2</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Title 3</h5>

            <p class="light">Text 3</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">

        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>

          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href=#>Edgar Carvajal</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script>
  angular.module('myApp', [])
  .factory('updates', ['$http', function($http){
    var obj = {};

    obj.setToken = function(token){
      obj.token = token;
    }

    obj.getMessages = function(id){
      var urlUpdates = "https://api.telegram.org/bot" + obj.token + "/getUpdates";
      return $http.post(urlUpdates, {
            offset: (function(){
              if(id){
                return id+1;
              }
            })(),
            timeout: 10,
            allowed_updates: ["message"]
        }).then(function(res){
          var bodyJSON = res.data;

          if(bodyJSON.result.length > 0){
            var last = bodyJSON.result.length - 1;
            var id = bodyJSON.result[last].update_id;

            bodyJSON.result.map(function(item){
              var id = item.message.from.id;
              var text = "Hola mundo";
              var parse_mode = "Markdown"
              console.log(item.message.from.username, ": ", item.message.text);
              //sendMessage(id, text, parse_mode, item.message.from.username);
            });
            obj.getMessages(id);
          }else{
            obj.getMessages();
          }
        });
    };

    return obj;
  }])
  .controller('myController', ['$scope', '$http', 'updates', function($scope, $http, updates) {


    $scope.start = function(){
      updates.setToken($scope.token);
      console.log(updates.token);
    }

    $scope.messages = function(){
      updates.getMessages();
    }





  }])

  </script>
  <script>
	(function($){
	  $(function(){
	    $('.button-collapse').sideNav();
	  }); // end of document ready
	})(jQuery); // end of jQuery name space
  </script>

  </body>
</html>
